body {
    background: #e2294e18;
}

h1 {
    font: bolder 2.6em 'Arial';
    text-align: center;
    text-transform: uppercase;
    color: #3C0919;
}

.intro-msg {
    background: #7D1128;
    color: white;
    font: .9em Arial, Helvetica, sans-serif;
    text-align: justify;
}

h2 {
    background: #3C0919;
    color: #FF2C55;
    font: 2em 'Arial';
    text-decoration: underline;
}

h3 {
    background: #7D1128;
    color: #FF2C55;
    font: italic 1.5em 'Arial';
}

p {
    background: #3c091918;
    font-size: 1.2em;
}

.resaltar {
    color: #FF2C55;
}

strong {
    color: #C41E3D;
}

address {
    text-align: right;
    background: #3C0919;
    color: white;
    font-size: 1.03em;
}