:root {
    --color00: rgba(0, 0, 0, 0.750);
    --color01: #FFEAEE;
    --color02: #51A3A3;
    --color03: #CB904D;
    --color04: #C3E991;
    --color05: #75485E;
}

@media screen and (max-width: 1024px) and (min-width: 374px) {
    h1 {
        font-size: 300%;
    }
    h2 {
        margin: 20px 0 0;
        font-size: 150%;
    }
    section {
        margin: 10px;
    }
    article {
        margin: 10px;
    }
}

@media screen and (min-width: 1023px) {
    h1 {
        font-size: 350%;
    }
    section#escritorio {
        position: absolute;
        top: 6rem;
        left: 6%;
        width: 35%;
        border-left: 2px solid var(--color00);
        border-right: 2px solid var(--color00);
    }
    section#internet {
        position: absolute;
        top: 6rem;
        right: 10%;
        width: 35%;
        border-left: 2px solid var(--color00);
        border-right: 2px solid var(--color00);
    }
    article {
        margin: 20px 40px;
    }
}

@media screen and (max-width: 374px) {
    h1 {
        text-align: center;
        font-size: 250%;
        color: yellow;
    }
    article {
        margin: 10px;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: var(--color01);
}

header {
    background-color: var(--color00);
}

header h1 {
    color: var(--color01);
    margin-bottom: 20px;
    font-variant: small-caps;
}

section h2 {
    font-size: 2em;
    text-align: center;
    background-color: var(--color00);
    color: var(--color01);
    margin-left: 10px;
    margin-right: 10px;
}

section h3 {
    font-size: 1.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--color04);
    color: var(--color00);
    padding-left: 10px;
}

article {
    border-radius: 10px;
    padding-bottom: 5px;
    background-color: white;
}

p {
    margin: 5px 5px;
}