@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

body {
    font-family: 'Sriracha', cursive;
}

header {
    background-color: black;
}

header h1 {
    color: white;
    font: bold 8em 'Passion One';
    font-variant: small-caps;
    text-align: center;
    padding-top: 50px;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

header p>a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section p {
    font-size: 3em;
    padding: 8% 0 8% 30px;
}

.imagem {
    position: relative;
}

.imagem>p {
    position: absolute;
    color: white;
    padding: 10px 0 10px 0;
    left: 20px;
    top: 10%;
}

#flor {
    background: black url('imagens/background001.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 90vh;
}

#flor p {
    background-color: black;
    max-width: 600px;
}

#livro {
    background: black url('imagens/background002.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 90vh;
}

#livro p {
    background-color: rgba(0, 0, 0, 0.377);
    max-width: 600px;
}

footer {
    background-color: black;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}